.slds-modal_monaco-style {
    background-color: rgb(30, 30, 30);
    color: rgb(212, 212, 212);
    font-family: "Consolas";
    font-size: 16;
    font-weight: normal;
    white-space: pre-wrap;
    white-space: pre-line;
    /* tab-size: 4; */
}